<html>
    {{> header}}

    <div class="container-fluid">
        {{> navbar}}

        <div class="card">
            <div class="card-body">
                {{{body}}}
            </div>
        </div>  
    </div>

    {{> footer}}
</html>


